# =============================================
# ZeroTier
# =============================================
ZT_NETWORK=your_network_id
ZT_PORT=30120
ZT_ADDRS=10.147.18.1

# volumes
ZEROTIER_DATA=./network/zerotier

# =============================================
# Cloudflared
# =============================================

CF_HOSTNAME=paulosergio.pierdona.nom.br

# =============================================
# Nginx SSL
# =============================================
LE_CERT=dummy-fullchain.pem
LE_KEY=dummy-privkey.pem
DUMMY_CERT=paulosergio.pierdona.nom.br-fullchain.pem
DUMMY_KEY=paulosergio.pierdona.nom.br-privkey.pem

NG_CERT=/etc/nginx/ssl/dummy-fullchain.pem
NG_KEY=/etc/nginx/ssl/dummy-privkey.pem
NG_DHPARAMS=/etc/nginx/ssl/ssl-dhparams.pem

DAYS_VALID=365
SSL_SIZE=2048

# volumes
NGINX_DATA=./network/nginx/data
NGINX_LETSENCRYPT=./network/nginx/letsencrypt
NGINX_CUSTOM=./network/nginx/custom
NGINX_HTML=./network/nginx/html
NGINX_SSH=./network/nginx/ssl

# =============================================
# Services
# =============================================

# Forgejo
FORGEJO_HOST=forgejo
FORGEJO_HTTP_PORT=3000
FORGEJO_SERVER_NAME=forgejo
FORGEJO_SERVER_DOMAIN=paulosergio.pierdona.nom.br/forgejo
FORGEJO_SERVER_ROOT_URL=https://paulosergio.pierdona.nom.br/forgejo/
FORGEJO_SSH_PORT=8022

FORGEJO_DB_HOSTNAME=forgejo_db
FORGEJO_DB_HOSTPORT=5432
FORGEJO_DB_HOST=forgejo_db:5432
FORGEJO_DB_NAME=forgejo
FORGEJO_DB_USER=forgejo
FORGEJO_DB_PASS=<passwordhere>

FORGEJO_MAILER_USER=paulosergiopierdona@gmail.com
FORGEJO_MAILER_PASS=<passwordhere>

FORGEJO_SERVICE_ENABLE_NOTIFY_MAIL=true
FORGEJO_SERVICE_REGISTER_EMAIL_CONFIRM=true

# Backrest
BACKREST_HOST=backrest
BACKREST_PORT=8080
BACKREST_SERVER_NAME=backrest
BACKREST_S3_ENDPOINT=s3.amazonaws.com
BACKREST_S3_BUCKET=my-forgejo-backups
BACKREST_S3_KEY=YOUR_ACCESS_KEY
BACKREST_S3_SECRET=YOUR_SECRET_KEY
BACKREST_S3_REGION=us-east-1
BACKUP_DIR_PATH=backups/

BACKREST_USERNAME=admiro
BACKREST_PASSWORD=<passwordhere>

# Minecraft Haven
HAVEN_MINECRAFT_HOST=minecraft_haven
HAVEN_MINECRAFT_SERVER_NAME=minecraft_haven.localhost
HAVEN_MINECRAFT_PORT=25565
HAVEN_RCON_PASSWORD=<passwordhere>
HAVEN_RCON_PORT=25575

# Minecraft magicmodpack
MAGICMODPACK_MINECRAFT_HOST=minecraft_magicmodpack
MAGICMODPACK_MINECRAFT_SERVER_NAME=minecraft_magicmodpack.localhost
MAGICMODPACK_MINECRAFT_PORT=25585
MAGICMODPACK_RCON_PASSWORD=<passwordhere>
MAGICMODPACK_RCON_PORT=25595