# =============================================
# Project
# =============================================

COMPOSE_PROJECT_NAME=mastercompose


# =============================================
# ZeroTier
# =============================================

ZT_NETWORK=<network id>
ZT_PORT=30001
ZT_ADDRS=10.147.18.1<your ip on zerotier>

# Volume
ZEROTIER_DATA=./network/zerotier/data


# =============================================
# internal IP
# =============================================

NGINX_IP=172.20.0.10
PORTAINER_ID=172.20.0.11
FORGEJO_IP=172.20.0.12
FORGEJO_DB_IP=172.20.0.13

# =============================================
# Nginx
# =============================================

NG_CERT_PATH=/etc/nginx/ssl/
NG_KEY_PATH=/etc/nginx/ssl/
NG_DHPARAMS=/etc/nginx/ssl/ssl-dhparams.pem

DAYS_VALID=365
SSL_SIZE=2048

# Volumes
NGINX_DATA=./network/nginx/data
NGINX_LETSENCRYPT=./network/nginx/letsencrypt
NGINX_CUSTOM=./network/nginx/custom
NGINX_HTML=./network/nginx/html
NGINX_SSL=./network/nginx/ssl


# =============================================
# Portainer
# =============================================

PORTAINER_HOST=portainer
PORTAINER_PORT=9000
PORTAINER_SERVER_NAME=portainer


# =============================================
# Forgejo
# =============================================

FORGEJO_HOST=${FORGEJO_IP}
FORGEJO_HTTP_PORT=3000
FORGEJO_SERVER_NAME=forgejo

FORGEJO_SERVER_DOMAIN=${ZT_ADDRS}
FORGEJO_SERVER_ROOT_URL=https://${FORGEJO_SERVER_DOMAIN}/forgejo/

FORGEJO_SSH_PORT=30012

FORGEJO_MAILER_USER=<your-email@example.com>

FORGEJO_SERVICE_ENABLE_NOTIFY_MAIL=true
FORGEJO_SERVICE_REGISTER_EMAIL_CONFIRM=true


# =============================================
# Forgejo Database
# =============================================

FORGEJO_DB_HOST=forgejo_db
FORGEJO_DB_PORT=5432
FORGEJO_DB_NAME=forgejo

# =============================================
# Backrest
# =============================================

BACKREST_HOST=backrest
BACKREST_PORT=30031
BACKREST_SERVER_NAME=backrest

BACKREST_S3_ENDPOINT=s3.amazonaws.com
BACKREST_S3_BUCKET=my-forgejo-backups
BACKREST_S3_REGION=us-east-1

BACKUP_DIR_PATH=backups/

# =============================================
# games servers
# =============================================

# Minecraft Haven
# HAVEN_MINECRAFT_HOST=minecraft_haven
# HAVEN_MINECRAFT_SERVER_NAME=minecraft_haven.localhost
# HAVEN_MINECRAFT_PORT=30101
# HAVEN_RCON_PASSWORD=
# HAVEN_RCON_PORT=30102

# Minecraft magicmodpack
# MAGICMODPACK_MINECRAFT_HOST=minecraft_magicmodpack
# MAGICMODPACK_MINECRAFT_SERVER_NAME=minecraft_magicmodpack.localhost
# MAGICMODPACK_MINECRAFT_PORT=30111
# MAGICMODPACK_RCON_PASSWORD=
# MAGICMODPACK_RCON_PORT=30112