# =============================================
# ZeroTier
# =============================================
ZT_NETWORK=your_network_id
ZT_PORT=30120
ZT_ADDRS=10.0.0.1

# volumes
ZEROTIER_DATA=./network/zerotier

# =============================================
# Cloudflared
# =============================================

CF_HOSTNAME=paulosergio.pierdona.nom.br

# =============================================
# Nginx SSL
# =============================================
LE_CERT=dummy-fullchain.pem
LE_KEY=dummy-privkey.pem
DUMMY_CERT=paulosergio.pierdona.nom.br-fullchain.pem
DUMMY_KEY=paulosergio.pierdona.nom.br-privkey.pem

NG_CERT=/etc/nginx/ssl/${LE_CERT}
NG_KEY=/etc/nginx/ssl/${LE_KEY}
NG_DHPARAMS=/etc/nginx/ssl/ssl-dhparams.pem

DAYS_VALID=365
SSL_SIZE=2048

# volumes
NGINX_DATA=./network/nginx/data
NGINX_LETSENCRYPT=./network/nginx/letsencrypt
NGINX_CUSTOM=./network/nginx/custom
NGINX_HTML=./network/nginx/html
NGINX_SSH=./network/nginx/ssl

# =============================================
# Services
# =============================================

# GitLab
GITLAB_HOST=gitlab
GITLAB_PORT=80
GITLAB_SERVER_NAME=gitlab
GITLAB_USER=admin
GITLAB_PASSWORD=strongpassword
GITLAB_EMAIL=admin@example.com

# Backrest
BACKREST_HOST=backrest
BACKREST_PORT=8080
BACKREST_SERVER_NAME=backrest
BACKREST_S3_ENDPOINT=s3.amazonaws.com
BACKREST_S3_BUCKET=my-gitlab-backups
BACKREST_S3_KEY=YOUR_ACCESS_KEY
BACKREST_S3_SECRET=YOUR_SECRET_KEY
BACKREST_S3_REGION=us-east-1
BACKUP_DIR_PATH=backups/

BACKREST_USERNAME=admin
BACKREST_PASSWORD=supersecret123

# Minecraft Haven
HAVEN_MINECRAFT_HOST=minecraft_haven
HAVEN_MINECRAFT_SERVER_NAME=minecraft_haven.localhost
HAVEN_MINECRAFT_PORT=25565
HAVEN_RCON_PASSWORD=your_pass_word
HAVEN_RCON_PORT=25575

# Minecraft magicmodpack
MAGICMODPACK_MINECRAFT_HOST=minecraft_magicmodpack
MAGICMODPACK_MINECRAFT_SERVER_NAME=minecraft_magicmodpack.localhost
MAGICMODPACK_MINECRAFT_PORT=25585
MAGICMODPACK_RCON_PASSWORD=your_pass_word
MAGICMODPACK_RCON_PORT=25595