# =============================================
# HTTP → HTTPS
# =============================================

server {

    listen 80;
    listen [::]:80;

    server_name _;

    return 301 https://$host$request_uri;
}


# =============================================
# HTTPS
# =============================================

server {

    listen 443 ssl;
    listen [::]:443 ssl;

    server_name ${FORGEJO_SERVER_DOMAIN};

    ssl_certificate     ${NG_CERT_PATH}fullchain.pem;
    ssl_certificate_key ${NG_KEY_PATH}privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;

    root /usr/share/nginx/html;
    index index.html;


    # =========================================
    # Forgejo
    # =========================================

    location /forgejo/ {

        proxy_pass http://${FORGEJO_HOST}:${FORGEJO_HTTP_PORT}/;

        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Prefix /git;

        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_connect_timeout 5s;
        proxy_send_timeout 60s;
        proxy_read_timeout 60s;

        proxy_buffering off;
    }

    location /v2/ {

        client_max_body_size 0;

        proxy_pass http://${FORGEJO_HOST}:${FORGEJO_HTTP_PORT}/v2/;

        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;

        proxy_connect_timeout 5s;
        proxy_send_timeout 60s;
        proxy_read_timeout 60s;

        proxy_buffering off;
    }

    location /v2/token {

        client_max_body_size 0;

        proxy_pass http://${FORGEJO_HOST}:${FORGEJO_HTTP_PORT}/v2/token;

        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;

        proxy_buffering off;
    }



    # =========================================
    # Main page
    # =========================================

    location / {

        try_files $uri $uri/ /index.html;
    }
}